<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <script src="https://kit.fontawesome.com/239698b593.js" crossorigin="anonymous"></script>
    <title>Blog Ninja | <%= title %></title>
</head>